{% extends "layout.html.twig" %}

{% block content %}

    <h2>Créer une fiche mairie.</h2>
    {{form_start(form, {'attr': {'novalidate' : 'novalidate'}} )}}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    

{% endblock %}