{% extends "layout.html.twig" %}

{% block content %}
    <h2>
        Nos conditions générales de vente : 
    </h2>
    <p> 
        Mr Bin aura toujours raison en cas de litige. 
    </p>
{% endblock %}